<div ng-controller="ctrlExpenses">
	<h2>Expenses</h2>

	<div bookmarklist id="bookmarks" class="section-list">
	</div>

	<h3>Add an expense</h3>
	<form name="expensesform">
		<ul>
			<li>
				<label>Date</label>
				<input name="date" ng-pattern='/(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/' type="text" ng-blur="parseAmount()" ng-required="true" ng-model="newExpense.date" ui-date="dateOptions" placeholder="dd/mm/yyyy" />
				<span ng-show="expensesform.date.$touched && expensesform.date.$invalid">Invalid date. Please use dd/mm/yyyy format.</span>
			</li>
			<li>
				<label>Amount</label>
				<input  name="amountWithCurrency" ng-pattern='/^(\d{1,3})(\.\d{1,2})?(\040(AUD|CAD|CHF|CYP|CZK|DKK|EEK|GBP|EUR|HKD|HUF|ISK|JPY|KRW|LTL|LVL|MTL|NOK|NZD|PLN|ROL|SEK|SGD|SIT|SKK|TRL|USD|ZAR))?$/' ng-blur="parseAmount()" type="text" ng-required="true" ng-model="newExpense.amountWithCurrency" placeholder="00.00 GBP" />
				<span ng-show="expensesform.amountWithCurrency.$touched && expensesform.amountWithCurrency.$invalid">Invalid amount. Please use format: 00.00 (ISO currency code)</span>
			</li>
			<li>
				<label>VAT</label>
				<input  type="text" ng-required="true" ng-model="newExpense.vat" readonly />
			</li>
			<li>
				<label>Reason</label>
					<textarea at-auto-resize ng-required="true" ng-model="newExpense.reason" ng-trim="false" placeholder="why oh why?" ng-maxlength="300"></textarea>
			</li>
			<li>
				<label></label>
				<button ng-disabled="expensesform.$invalid" ng-click="saveExpense()" class="solid">Save Expense</button> <button ng-click="clearExpense()">cancel</button>
			</li>
		</ul>
	</form>

	<h3>Submitted expenses</h3>
	<div class="list-table expenses-data">
		<div class="header-row">
			<div class="col-4">Date</div>
			<div class="col-4 figures">Amount (inc. VAT)</div>
			<div class="col-2 figures">VAT</div>
			<div class="col-15">Reason</div>
		</div>
		<div ng-repeat="expense in expenses" class="body-row">
			<div class="col-4">{{expense.expenseDate | date:'dd MMM yyyy'}}</div>
			<!-- <div class="col-4 figures">{{expense.amount | currency:"&pound;"}}</div> -->
			<div class="col-4 figures">{{expense.amount.amount | currency:expense.amount.currency}}</div>
			<!-- <div class="col-2 figures">{{expense.vat | currency:"&pound;"}}</div> -->
			<div class="col-2 figures">{{expense.taxAmount.amount | currency:expense.taxAmount.currency}}</div>
			<div class="col-15">{{expense.reason}}</div>
		</div>
	</div>
</div>
